.container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    border: 1px solid;
    width: 984px;
    height: 726px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    text-align: left;
    padding-left: 57px;
}

.el-header {
    font-family: NotoSansCJKkr;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    color: #000000;
    margin-top: 60px;
    padding: 0;
}

.el-main {
    color: #333;
    text-align: left;
    font-weight: bolder;
}

.sub-id-info {
    margin-top: 58px;
}

.info-title {
    width: 72px;
    margin-top: 14px;
    text-align: left;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    color: #1c1c1c;
}

.info-body {
    text-align: left;
    padding: 0 59px;
}

.input-box {
    width: 320px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    padding-left: 18px;
}

.input::placeholder {
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #9b9b9b;
}

.password-check-info {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #4a4a4a;
    margin-top: 8px;
    margin-left: 3px;
}

.btn-duplicate-check {
    width: 110px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #273ea5;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #273ea5;
    margin-left: 15px;
}

.session-select {
    width: 126px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
}

.job-select {
    width: 179px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    margin-left: 15px;
}

.btn-complete {
    width: 240px;
    height: 65px;
    border-radius: 6px;
    background-color: #ff5000;
    font-family: NotoSansCJKkr;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    margin-right: 57px;
}

.alert-danger {
    margin: 0 10px;
    padding: 0 10px;
}

