.body {
    background-color: #eeeeee;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    border: 0;
    width: 984px;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: left;
    padding-left: 57px;
}

.el-header {
    font-family: NotoSansCJKkr;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    color: #000000;
    margin-top: 60px;
    padding: 0;
}

.el-main {
    color: #333;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 60px;
    padding-right: 0;
}

.sub-id-info {
    margin-top: 58px;
    margin-right: 0;
}

.info-title {
    width: 72px;
    margin-top: 14px;
    text-align: left;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    color: #1c1c1c;
}

.info-body {
    text-align: left;
    padding: 0 59px;
}

.input-box {
    width: 302px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    padding: 0 0 0 18px;
    outline: none;
}

.password-circle {
    width: 320px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    outline: none;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

.input-box-password, .input-box-password:focus {
    width: 270px;
    height: 100%;
    padding: 0 0 0 8px;
    border: 0;
    box-shadow: none;
}

.input::placeholder{
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #9b9b9b;
}

.input-box:focus {
    outline: none;
    border: 1px solid #273EA5;
    box-shadow: none;
}

.password-check-info {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #4a4a4a;
    margin-top: 8px;
    margin-left: 3px;
}

.btn-duplicate-check {
    width: 110px;
    height: 56px;
    border-radius: 6px;
    border: 0;
    background-color: #273ea5;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin-left: 15px;
}

.nexters-number-select {
    width: 126px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
}

.nexters-number-select:focus {
    outline: none;
    border: 1px solid #273EA5;
    box-shadow: none;
}

.position-select {
    width: 179px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    margin-left: 15px;
}

.position-select:focus {
    outline: none;
    border: 1px solid #273EA5;
    box-shadow: none;
}

.password-confirm-box {
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: #ff1c16;
}

.btn-complete {
    width: 240px;
    height: 65px;
    border: 0;
    border-radius: 6px;
    background-color: #ff5000;
    font-family: NotoSansCJKkr;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    margin-right: 57px;
}

.alert-danger {
    margin: 0 10px;
    padding: 0 10px;
}

