.board {
	width: 100%;
	min-height: 300px;
}

.info-text {
	width: 207px;
	height: 24px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	color: #9b9b9b;

	margin-top: 135px;
	display: inline-block;
}

.list {
	height: 74px;
	margin-bottom: 12px;
	text-align: left;
	border-radius: 6px;
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	display: flex;
}

.type-notice {
	border: solid 1px #dbdbdb;
}

.notice {
	width: 42px;
	height: 29px;
	object-fit: contain;

	margin: 22.5px 1px 22.5px 15px;
}

.favorite {
	margin: 26px 16px 25px 22px;
	width: 24px;
	height: 23px;
	cursor: pointer;
}

.favourites-filled-star-symbol, .favourites-filled-star-symbol-copy {
	width: 24px;
	height: 23px;
	object-fit: contain;
}

.order-number {
	display: inline-block;
	margin: 29px 7px 29px 7px;
	width: 30px;
	height: 16px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.88px;
	text-align: center;
	color: #9b9b9b;
}

.idea-name-wrapper {
	width: 451px;
	height: inherit;
	padding: 26px 15px 24px 7px;
	cursor: pointer;
 }

.idea-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	width: 429px;
	height: 24px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.89px;
	color: #1c1c1c;
	display: inline-block;
}

.notice-title {
	font-weight: 500;
	color: #ff5000;
}

.not-select-tags {
	width: 160px;
	height: 24px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	color: #9b9b9b;
	margin: 8px 0 8px 3px;
}

.tags {
	width: 97px;
	height: 40px;
	text-align: center;
	margin-right: 9px;
	margin-left: 3px;
	padding: 0;
	border: 0;
	display: inline-block;
	clear: both;
}

.tag {
	border-radius: 6px;
	display: inline-block;
	vertical-align: center;
	padding: 8px 15px;
	width: 100%;
	flex: 1 1 auto;
	clear: both;
}

.tag-name {
	width: 69px;
	height: 24px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	color: #208b84;
}

.tag-popUp {
	height: 74px;
	border-radius: 6px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
	background-color: #ffffff;
	display: flex;
	padding: 17px 10px;
	right: 10px;
	top: 65px;
	position: absolute;
	clear: both;
	z-index: 2;
}

.position {
	width: 56px;
	height: 24px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: left;
	color: #1c1c1c;

	margin: 25px 5px 25px 13px;
}

.author {
	width: 56px;
	height: 24px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: left;
	color: #1c1c1c;
	margin: 25px 5px 25px 7px;
}

.created-at {
	width: 80px;
	height: 19px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	color: #1c1c1c;
	margin: 27px 10px 28px 5px;
}

.idea-button img {
	width: 30px;
	height: 30px;
	object-fit: contain;
	margin: 22px 22px 22px 13px;
	cursor: pointer;
}

.selection > img {
	width: 45px;
	height: 29px;
	object-fit: contain;

	margin: 23px 13px 22px 6px;
}

.list:hover{
	border: solid 1px #CDCDCD;
}

.idea-button .on > img {
	cursor: default;
}
