.main-idea-list-wrap {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.main-idea-contents-wrap {
    width: 1200px;
    min-height: 538px;
}

.header {
    width: 428px;
    height: 59px;
    font-family: NotoSansCJKkr;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -3px;
    color: #000000;
    margin-top: 65px;
    text-align: left;
}

.header-sub {
    width: 395px;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #1c1c1c;
    margin-top: 16px;
}

.certify {
    margin-top: 70px;
    text-align: left;
}

.input-box {
    width: 320px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #9b9b9b;
    padding-left: 18px;
}

.input-box::placeholder {
    width: 57px;
    height: 27px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #9b9b9b;
    padding-left: 18px;
}

.input-box:focus {
    outline: none;
    border: 1px solid #273EA5;
    box-shadow: none;
}

.search-box {
    width: 281px;
    height: 50px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    background-image: url('../../assets/img/ico-search@2x.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 16px 15px;
    padding-left: 50px;
    margin-left: 16px;
}

.search-box::placeholder {
    width: 209px;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.53px;
    color: #9b9b9b;
    padding-left: 18px;
}

.search-box:focus {
    outline: none;
    border: 1px solid #273EA5;
    box-shadow: none;
}

.certify > p {
    width: 71px;
    height: 29px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.75px;
    color: #1c1c1c;
}

.btn-certify-apply {
    width: 110px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #273ea5;
    background-color: #273ea5;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin-left: 16px;
}

.user-manage-tab {
    margin-top: 72px;
    display: table-cell;
    align-items: center;
    vertical-align: middle;
}

.user-manage-tab > p {
    width: 124px;
    height: 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #4a4a4a;
    margin-bottom: 0;
}

.btn-user-remove {
    width: 144px;
    height: 46px;
    border-radius: 6px;
    background-color: #4a4a4a;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #ffffff;
}

.pointer {
    width: 16px;
    height: 16px;
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    margin-top: 65px;
}

.card-header {
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0 0 65px 0;
    background-color: #F5F5F5;
}

.row-item {
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.89px;
    color: #1c1c1c;
}

.select-box {
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: solid 1.5px #ff5000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-box > p {
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #ff5000;
    margin-bottom: 0;
}

.unselect-box {
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: solid 1.5px #dbdbdb;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselect-box > p {
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #9b9b9b;
    margin: auto;
}

.search {
    display: inline-block;
    float: right;
}

.search-input {
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.53px;
    color: #9b9b9b;
    padding: 14px 0 12px 18px;
}

.ico_search {
    /*float: right;*/
    position: absolute;
    left: 291px;
    bottom: 11px;

    width: 28px;
    height: 28px;
    object-fit: contain;
}

.card-body {
    background-color: #f5f5f5;
    padding: 0;
}


.titles {
    height: 20px;
    display: table-cell;
    text-align: left;
    margin-bottom: 5px;
}

.title {
    display: inline-block;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -1px;
    color: #4a4a4a;
}

.ico_table_tag {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 6px;
}

.board {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

td {
    display: table-cell;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.list {
    width: 1200px;
    height: 74px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    text-align: left;
}
