
#sign-up-form {
    padding: 0 500px;
    margin-bottom: 100px;
}

.header {
    margin: 0 20px 20px 0;
    font-weight: bolder;
}

.header > p {
    margin: 0;
    vertical-align: middle;
    line-height: 40px;
}

.main-container {
    border: 1px solid;
    margin-bottom: 50px;
}

.el-header {
    color: #333;
    text-align: left;
    margin: 70px 50px 0 50px;
    font-weight: bold;
    font-size: 26px;
}

.el-main {
    color: #333;
    text-align: left;
    line-height: 50px;
    margin: 0 50px 30px 50px;
    font-weight: bolder;
}

.info-title {
    text-align: left;
    font-weight: bolder;
}

.info-body {
    text-align: left;
    padding: 0 30px;
}

.form-title, .form-control, .custom-select, .form-group {
    margin: 0 10px;
}

.alert-danger {
    margin: 0 10px;
    padding: 0 10px;
}
