.main-container {
    width: 1200px;
    margin-top: 57px;
}

.header {
    font-family: NotoSansCJKkr;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #1c1c1c;
}

.header-sub {

}

.btn-apply {
    width: 200px;
    height: 57px;
    border-radius: 6px;
    background-color: #ff5000;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.82px;
    color: #ffffff;
}

.el-main {
    color: #333;
    text-align: left;
    line-height: 50px;
    margin: 0 50px 30px 50px;
    font-weight: bolder;
}

.info-title {
    text-align: left;
    font-weight: bolder;
}

.info-body {
    text-align: left;
    padding: 0 30px;
}

.form-title, .form-control, .custom-select, .form-group {
    margin: 0 10px;
}

.alert-danger {
    margin: 0 10px;
    padding: 0 10px;
}
