.body {
    background-color: #eeeeee;
}

.main-container {
    width: 1200px;
    margin-top: 57px;
}

.header {
    font-family: NotoSansCJKkr;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #1c1c1c;
}

.header-sub {
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #1c1c1c;
}

.btn-apply {
    width: 200px;
    height: 57px;
    border-radius: 6px;
    background-color: #ff5000;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.82px;
    color: #ffffff;
}

.el-main {
    color: #333;
    text-align: left;
    line-height: 50px;
    font-weight: bolder;
    margin-top: 46px;
}

.info-title {
    width: 192px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    color: #1c1c1c;
}

.info-body {
    text-align: left;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    color: #1c1c1c;
}

.password-box {
    width: 320px;
    height: 56px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    padding-left: 18px;
}

.password-box::placeholder {
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #9b9b9b;
}

.password-box:focus {
    outline: none;
    border: 1px solid #273EA5;
    box-shadow: none;
}

.row {
    margin-top: 24px;
    display: flex;
    vertical-align: center;
    align-items: center;
}

.form-title, .form-control, .custom-select, .form-group {
    margin: 0 10px;
}

.alert-danger {
    margin: 0 10px;
    padding: 0 10px;
}
